<% content_for(:page_header) {"Monthly expenses including your Rent & selected amenities is!"} %>
<div class="jumbotron  jumbotron-fluid container textcenter">

<p>
  Welcome<strong>  <%= @cal.name %></string>
</p>

<p>
  Total Predicted cost including Rent/EMI is<strong> <%= @cal.rent %> </strong>
 
</p>

</div>

<%= link_to 'Edit', edit_cal_path(@cal) %> |
<%= link_to 'Back', cals_path %>
