<!--<meta name="apptrana" content="455ebdcf58484799b505be800da87793">-->
<meta name="apptrana" content="58c073f5c92c4418864eeedadc29595a">
49218b49-44f4-4e06-a2f7-780139662500.txt
<!--<div class = "layer">-->
<!--  <div class = "backgroundmain">-->
  
<!--   <img class="back1" , src = "/images/apartment-architecture-buildings-681331 (1).jpg">-->
<!--   </div>-->
<!--   </div>-->
<!--   <div class = "centertext">-->
<!--<center>-->
<!--  <img class = "hellno", src = "/images/samp.png">-->
<!--</div>-->