<!--<meta name="apptrana" content="455ebdcf58484799b505be800da87793">-->

<!--<div class = "layer">-->
<!--  <div class = "backgroundmain">-->
  
<!--   <img class="back1" , src = "/images/apartment-architecture-buildings-681331 (1).jpg">-->
<!--   </div>-->
<!--   </div>-->
<!--   <div class = "centertext">-->
<!--<center>-->
<!--  <img class = "hellno", src = "/images/samp.png">-->
<!--</div>-->