<div class = 'aa'>

<%= link_to "#{current_order.order_items.size} items with a value of #{current_order.subtotal }€", cards_path, class: "btn btn-success btn-lg btn-block", type:"button" %>
</div>
</div>

<style>
    a:visited {
    color: #ffffff !important;
}
</style>