<% content_for(:page_header) {"Checkout"} %>
<div class = "jumbotron jumbotron-fluid">
<div id="card-item">
<%= render 'cards_item'%>
</div>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
   
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe['pk_test_ckKO5YW4t5HNlJT5vOF6Ju8900XaANUGFO'] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
</div>