
<div class = "jumbotron">

<h3>Thanks for your opinion. </h3><br>
<h3>Your Response had been saved Successfully.</h3>



<%#= link_to 'New Event', new_event_userinterest_path(@events) %>
<%= link_to 'Back to Events' ,events_path, class: "btn btn-success" %>
</div>
