<%= form_tag "/calculateelectricbills/showbasedonammenities" do |form| %>
<h1>Please fill the appliances and its hours of consumption </h1>
<% value = @appliance.length %>


   <div class="field">
   <% a = @appliance.length %>
   
   <% b = 0 %>
 <input id="person_name" name="person[name]" type="text" value="Henry" name="person[name]" type="text" value="Thevdiya"/>
  <select name= "<%= @appliance[0] %>"  id ="hahaha">
      <option value= </option>   
  </select> 
<br>
    <br>
</div>  

 <div class="actions">
    <%= submit_tag  %>
  </div>
<% end %>