<h1>WELCOME TO EB BILL PREDICTOR</h1>
<p>dshbfdsbfjsdfbdsj<%= puts "dnfdskjnfdskjndskjfnskdjfns #{@value}" %></p>

<p> <strong>your per day consumption would be around <%=@value %> and it costs around <%=@value[1] %> and your monthly bill will come around <%= @value[2] %></strong> </p>

