<div class = "jumbotron">
<h3>WELCOME TO EB BILL PREDICTOR</h3>
<%= form_tag "/calculateelectricbills" do |form| %>
Enter the Number of rooms you consume..!! 
<div class='form-group'>
 <%= text_field_tag :rooms %> 
 </div>
<%= submit_tag "Check" %>
<% end %>
</div>