<H1>BASED ON THE CATEGORIES PREDICT YOUR ELECTRICITY BILL</H1>

<li><%= link_to 'Based On Number of Room', calculateelectricbills_path %></li>

<li><%= link_to 'BASED ON AMMENTIES USED', calculateelectricbills_usage_path %> </li>
<li><%= link_to 'Calculate Electricity Bill', calculateelectricbills_path %></li>
