<h1>Your current month billing is </h1>
<table>
    <th> SPLITUP OF METER READINGS </th>
    <tr> 
    <td>CURRENT MONTH USAGE </td>
    <td><%= @value[0] %></td>
    </tr>
    <tr>
        <td>COST </td>
         <td><%= @value[1] %></td>
    </tr>
</table>