<h1>Your current month billing is </h1>
<table class="table table-striped">
    <th>  
    <tr> CURRENT MONTH USAGE  </tr>
    <tr> COST</tr>
    </th>
    <tr>
    <td><%= @value[0] %></td>
     <td><%= @value[1] %></td>
    </tr>
</table>